html{
    background-color: #cacaca;
    height: 100%;
    width: 100%;
}

body{
    font-family: 'Rubik', sans-serif;
}

#libraryTitle{
    font-size: 2.8em;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    font-family: 'Rubik', cursive;
    margin: 0;
    padding: 0.5em;
    color: white;
    background-color: rgba(48, 76, 140, 0.83);
}

#container{
    display: flex;
    flex-flow: row wrap;
    margin: 3vw 1vw 1vw 1vw;
}

.containerRow{
    flex-grow: 1;
    display: flex;
    flex-flow: row;
    background-color: black;
    min-width: 20vw;
    min-height: 30vw;
    margin: 1vw;
}